repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: uv.lock
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: \.md|.svg|.ipynb$
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [--fix]
      - id: ruff-format
        types_or: [ python, pyi ]

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check . --exclude docs/tutorials/*.ipynb
        language: system
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-pruna-pro
        name: Check for pruna_pro
        entry: >
          bash -c '
          git diff --cached --name-status |
          grep -v "^D" |
          cut -f2- |
          while IFS= read -r file; do
              if [ -f "$file" ] && ["$file" != ".pre-commit-config.yaml"] && grep -q "pruna_pro" "$file"; then
                  echo "Error: pruna_pro found in staged file $file"
                  exit 1
              fi
          done
          '
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: "^docs/"

      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'git diff --cached --name-only | xargs -I {} trufflehog filesystem {} --fail --no-update'
        language: system
        stages: ["pre-commit", "pre-push"]
