name: Fast CPU Tests for external contributions

permissions:
  contents: read
  pull-requests: read

on:
  pull_request_target:
    types: [review_requested]
    branches: [main]

jobs:
  test:
    if: >
      github.event.pull_request.author_association != 'OWNER' &&
      github.event.pull_request.author_association != 'MEMBER' &&
      github.event.pull_request.author_association != 'COLLABORATOR'
    runs-on: pruna-cpu
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python Build Tools
        run: pip install --upgrade pip setuptools wheel

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Install dependencies
        run: poetry install --with tests

      - name: Run tests
        run: |
          pytest -m "cpu and not slow and not high_cpu"
