name: Code Quality Checks

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --extra tests

      - name: Remove .so files
        run: find . -name "*.so" -delete

      - name: Run ruff on Pruna code
        uses: astral-sh/ruff-action@v3
        with:
          version: "latest"

      - name: Run mypy on Pruna code
        run: uv run mypy --show-traceback src/pruna

      - name: Run docstring checks with pytest
        run: uv run pytest -m "style"
